$ColorSelectSite: #F16D7F;
$widthSite: 1140px;
$backBlock: #222;
$colorText: #000;
$gapGrid:30px;
$thirdSite: ($widthSite - $gapGrid) / 3;
$widthBurgerMenu:232px;

a {
text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
background-color: $backBlock;
padding-top: 40px;
padding-bottom: 20px;
}  

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.top-head {
  background: #F8F3F4;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.top-head__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $ColorSelectSite;
    position: absolute;
    right: 320px;
}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.bredcrumbs__link_site {
    font-weight: 700;
    color: $ColorSelectSite;
}
.product__content{
    background-color: #f8f8f8;
}
.product {
    width: 360px;

&__img {
    width: 100px;
}


    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__name {
        font-size: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
&__box{
    display: flex;
    justify-content: center ;

}}


body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.logo {
width: 27px;
height: 28px;
}